/*
=============== 
Imported Fonts
===============
*/

  @import url('https://fonts.googleapis.com/css2?family=Poppins&family=Squada+One&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins&display=swap');

/*
=============== 
Variables
===============
*/

:root {
    /* dark shades of primary color*/
    --clr-primary-dark:  #4D6B3B;
    
    /* primary/main color */
    --clr-primary:#81B662;
    /* lighter shades of primary color */
    --clr-primary-lght:#8EC86C;
   
    /* darkest grey - used for headings */
    --clr-grey-1: #454545;
   
    /* grey used for paragraphs */
    --clr-grey-ligther:  #a0a2a4;
    --clr-grey-ligth:#727675;
    --clr-white: #fdfdfd;
   --clr-black:  #000000;
  
    --ff-primary:'Oswald', sans-serif;
    --ff-secondary:'Poppins', sans-serif;;
    --transition: all 0.3s linear;
   
   
  }
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--ff-secondary);
    color: var(--clr-grey-1);
 
  }

  ul {
    list-style-type: none;
  }

  a {
    text-decoration: none;
    font-family: var(--ff-primary);
    
  }
  img:not(.logo) {
    width: 100%;
  }
  img {
    display: block;
  }
   h1{
    padding: 1rem;
   }
  
/*
  h1 {
    font-size: 3rem;
    line-height: 1.25;
    text-align: center;
    margin: 1rem 2rem ;
    font-family: var(--ff-primary);
    text-shadow: 1px 1px 1px var(--clr-grey-ligther);
  }

h2 {
    color: var(--clr-primary-dark);
    font-size: 2rem;

}
*/
.sub-heading{
    text-align: center;
    width: 100%;
    padding: 2rem;
    background-color: var(--clr-black);
    color: var(--clr-white);
}


@media (min-width:45rem) {
    .sub-heading{
      font-size: 2rem;
    }
}
/***************HERO SECTION********************************/
.hero-section {
    width: 100%;
    background-color: var(--clr-black);
   
}


.intro-img {
    display: flex;
    
}



.photo {
width: 500px;
box-shadow: 0 4px 8px 0 rgba(70, 65, 65, 0.2), var(--light-shadow);
}

.photo img{
    width: 100%;
    object-fit: cover;
    }

    .download-text{
        writing-mode: vertical-lr;
        padding: 1rem;
        letter-spacing: .50rem;
        font-weight: bold;
        margin-left: 5px;
        color: var(--clr-white);
    }

.intro-text {
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 1rem;
}

span {
    font-weight: bold;
    color:var(--clr-primary);
    font-family: var(--ff-primary);
}

.intro-text .text p{
  margin-top: 10px;
}

.download{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
   padding: 2rem;
   background-color: var(--clr-black);
}

.download img {
    width: 150px;
    box-shadow: 0 4px 8px grey;
}

@media (min-width: 45rem) {
    .intro {
      display: flex;
    }
    h1 {
        font-size: 3rem;
        line-height: 1.25;
        text-align: center;
        margin: 1rem 2rem ;
        font-family: var(--ff-primary);
        text-shadow: 1px 1px 1px var(--clr-grey-ligther);
      }

      .download-text{
        font-size: 1rem;
        font-weight: bold;
        letter-spacing: 1rem;
        }
    
    .intro-img {
      flex: 1;
    }

    .intro-text {
  flex: 1;
  padding: 5rem;
  font-size: 1.5rem;
    }

    .download{
        
        justify-content: flex-end;
     
    }
    
    
}

/*******************full image***********************/

.full-img{
    width: 100%;
    padding: 1rem 0;
    background-color: var(--clr-primary-dark);
}


/*******************ABOUT SECTION***********************/
.about {
    width: 100%;
 }


.image-gallery {
    width: 100%;
    display: flex;
    justify-content: center;
   
   
}

.gallery-img {
 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.gallery-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.bottom{
   
    background-color: var(--clr-primary);
}



.text-container{
    padding: 2rem  1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--clr-white);
    gap: 1rem;
}

.image-container{
    display: flex;
   
    align-items: center;
    justify-content: center;
}

@media (min-width:45rem) {
    .bottom{
        display: flex;
        padding: 5rem;
        background-color: var(--clr-primary);
    }

    .text-container{
       font-size: 1.5rem;
    }
}


/***************How it works****************/
.how-it-works {
    width: 100%;
}

.cards-container {
    width: 90%;
    margin: 2rem auto;
   
}

.card{
    border: 10px solid var(--clr-black);
    margin-bottom: 2rem;
    border-radius: 5px;
    
}

.card-description{
    padding: 2rem;
    background-image: url(images/bgi.jpg);
    color: var(--clr-white);
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}


@media (min-width:45rem) {
    .cards-container {
       
       display: flex;
       justify-content: space-between;
       gap: 1rem;
       
    }

    .card{
        width: 300px;
        height: 400px;
    }

    .card-detail{
        width: 100%;
        height: 70%;
    }

    .card-detail img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .card-description{
        width: 100%;
        height: 30%;
    }
    
}
/*************************CONTACT SECTION STARTS*********************************/
.contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--clr-primary);
    padding: 30px 0;
    gap: 1rem;
}

.card-container a {
 color: var(--clr-black)
   
}

.facebook {
    width: 100%;;
    
  
}

.facebook iframe{
   width: 100%;
 
}



.fa-facebook, .fa-instagram, .fa-envelope{
  font-size: 5rem;
}


/*ANIMATION*/
.box {
   
    transform: translateX(400%);
    transition: transform 0.4s ease;
}

.box:nth-of-type(even) {
transform: translateX(-400%);
}

.box.show {
    transform: translateX(0);
}


/****************************FOOTER********************************/
footer{
    padding: 3rem;
 text-align: center;
    background-color: var(--clr-black);
 color: var(--clr-primary);
  }
  

  
