/*
=============== 
Imported Fonts
===============
*/

  @import url('https://fonts.googleapis.com/css2?family=Poppins&family=Squada+One&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins&display=swap');

/*
=============== 
Variables
===============
*/

:root {
    /* dark shades of primary color*/
    --clr-primary-dark:  #4D6B3B;
    
    /* primary/main color */
    --clr-primary:#81B662;
    /* lighter shades of primary color */
    --clr-primary-lght:#8EC86C;
   
    /* darkest grey - used for headings */
    --clr-grey-1: #454545;
   
    /* grey used for paragraphs */
    --clr-grey-ligther:  #a0a2a4;
    --clr-grey-ligth:#727675;
    --clr-white: #fdfdfd;
   --clr-black:  #000000;
  
    --ff-primary:'Oswald', sans-serif;
    --ff-secondary:'Poppins', sans-serif;;
    --transition: all 0.3s linear;
   
    --radius: 0.5rem;
    --light-shadow: 0 5px 15px rgba(216, 210, 210, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
  }
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--ff-secondary);
    background-color: var(--clr-grey-ligther);
    color: var(--clr-grey-1);
   
    font-size: 0.875rem;
  }

  ul {
    list-style-type: none;
  }

  a {
    text-decoration: none;
    font-family: var(--ff-primary);
    
  }
  img:not(.logo) {
    width: 100%;
  }
  img {
    display: block;
  }
  
  

  h1 {
    font-size: 3rem;
    line-height: 1.25;
    margin: 1rem 2rem ;
    font-family: var(--ff-primary);
  }

h2 {
    color: var(--clr-primary-dark);
    font-size: 2rem;
    margin: 2rem 0;
}
@media (max-width:500px) {
    h1 {
        font-size: 2rem;
        line-height: 1;
        margin: .50rem ;
        font-family: var(--ff-primary);
      }

    h2 {
      
        font-size: 1.50rem;
        margin: .50rem ;
    }
}

p{
    font-size: 1.25rem;
    margin: .50rem ;
}

.hero-section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    background-color: var(--clr-black);
   padding: 1rem 0;
}

.intro {
    display: flex;
}

.intro-img {
    width:50%;
    display: flex;
    align-items: center;
    
    padding: 0 2rem;
}



.photo {
width: 500px;
box-shadow: 0 4px 8px 0 rgba(70, 65, 65, 0.2), var(--light-shadow);
}

.photo img{
    width: 100%;
    object-fit: cover;
    }

    .download-text{
        writing-mode: vertical-lr;
        text-align: center;
        letter-spacing: .50rem;
        font-weight: bold;
        margin-left: 5px;
        color: var(--clr-white);
    }

.intro-text {
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    gap: 3rem;
    padding: 0 2rem;
}

span {
    font-weight: bold;
    color:var(--clr-primary);
    font-family: var(--ff-primary);
}

.intro-text .text p{
  margin-top: 10px;
}

.download{
    width: 50%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.download img {
    width: 150px;
    box-shadow: 0 4px 8px 0 rgba(70, 65, 65, 0.2), var(--light-shadow);
}

@media (max-width:800px) {
    .hero-section {
        width: 100%;
     align-self: center;
    }

    .intro {
        width: 100%;
        flex-direction: column;
    }
    
 
    .intro-img {
        width:100%;
        align-items: center;
       
    }


    .intro-text {
        width:100%;
       flex-direction: column-reverse;
       padding: 2rem;
     
    }

  

    .download{
        width: 100%;
        display: flex;
        justify-content:center;
        gap: 1rem;
    }
    
}

@media (max-width:500px) {
 
    .hero-section {
     
        gap: .50rem;
       
    }

    .intro-img {
        width:100%;
        align-items: center;
       
    }

    .photo {
        width: 90%;
                }
        
   
    .download-text{
      letter-spacing: .50rem;
    }
    
}

/*******************ABOUT SECTION***********************/
.about {
    width: 100%;
 
   
}
.section-wrapper{
  
width: 100%;
display: flex;
flex-direction: column;
align-items: center;

text-align: center;
}

.section-wrapper img{
    width: 100%;
    
    }

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    
    gap: 3rem;
}


.images-gallery {
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 4rem;
   margin-bottom: 4rem;
   
}

.gallery-img {
    width: 300px;
    height: 300px;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.gallery-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

@media (max-width:750px) {
    .images-gallery {
        width: 100%;
      
    }
    
  
    
   
}

@media (max-width:500px) {

    .images-gallery {
        width: 100%;
      gap: 1rem;
    }

    .gallery-img {
        width: 50%;
          }


}

.split {
    width: 100%;
    display: flex;
    min-height: 80vh;
}

.reverse {
    flex-direction: row-reverse;
}

.split-left {
    width: 50%;
    height: 100%;
   
    
}


.split-left img{
    object-fit: cover;
   width: 100%;
   height: 100%;
}

.split-right {
    width: 50%;
    display: flex;
   
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 20px;
}

@media (max-width:700px) {
    .split {
       flex-direction: column;
      align-items: center;

    }

    .split-left {
        width: 100%;
        height: auto;
     }
    
   
    .split-right {
        width: 100%;
        padding: 40px;
     
    }
    
}

/***************How it works****************/
.how-it-works {
    width: 100%;
}

.cards-container {
    width: 80%;
    
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    margin: 5rem 0;
}

.card {
    width: 300px;
    height: 400px;
    border-radius: 10px;
    border: 1px solid grey;
   display: flex;
   flex-direction: column;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}

.card-detail{
    width: 100%;
    height: 80%;
    background-image: url(images/bgi.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

   
    
}

.card-detail img{
    width: 70%;
    
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-description {
   width: 100%;
   height: 20%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--clr-primary);
}

.animated-text {
    width: 100%;
    display: flex;
    justify-content: center;
}

.animated-text img{
    width: 100%;
   
}

@media (max-width:400px) {
    .cards-container {
        width: 100%;
    
    }
    
    .card {
        width: 90%;
     
    }
}

/*************************CONTACT SECTION STARTS*********************************/
.contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--clr-primary);
    padding: 30px 0;
    gap: 1rem;
}

.card-container a {
 color: var(--clr-black)
   
}

.facebook {
    width: 100%;;
  
}

.facebook iframe{
   width: 100%;
 
}



.fa-facebook, .fa-instagram, .fa-envelope{
  font-size: 5rem;
}

footer{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: var(--clr-primary);
    padding: 30px 10px;
   
}
